<div id="ui">
  <div class="controlls-block">
    <div class="controlls-container">
      <div class="label">Back-<br/>ground<br/>color:</div>
      <input type="color" id="background-1" name="background-1">
      <input type="color" id="background-2" name="background-2">
      <div class="label">Gradient:</div>
      <input type="checkbox" id="gradient" name="gradient" checked>
      <div>
        <div class="label">Gradient<br/>angle:</div>
        <input type="range" id="angle" name="angle"
              min="0" max="359" value="0">
      </div>
    </div>
    <div class="controlls-container">
      <div class="label">Line<br/>color:</div>
      <input type="color" id="line-color" name="line-color">
    </div>
  </div>
  <div class="controlls-block">
    <div class="controlls-container">
      <div id="buttons">
        <a title="Re-draw" id="refresh"><i class="bi bi-bootstrap-reboot"></i></a>
        <a title="Download PNG" id="download"><i class="bi bi-download"></i></a>
      </div>
      <div id= copyright><a href="https://ktomilin.com/" target="_blank">©ktomilin</a></div>
    </div>
  </div>
</div>