@import "bootstrap-icons/font/bootstrap-icons.css";

html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#ui {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  margin: 1rem 0;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}
#ui::-webkit-scrollbar {
  width: 5px;
}
#ui::-webkit-scrollbar-track {
  background: none;
}
#ui::-webkit-scrollbar-thumb {
  background: rgba(128,128,128,.8);
}
.controlls-block {
  padding: 1rem;
  margin: 0 1rem;
  color: #fff;
  background-color: rgba(21, 16, 25, .9);
  border: 1px solid rgba(128,128,128,.8);
  border-radius: .5rem;
  box-sizing: border-box;
}
.controlls-block:not(:last-child) {
  margin-bottom: 1rem;
}
.label {
  display: block;
  margin-bottom: .55rem;
  user-select: none;
}
#ui input {
  display: block;
  cursor: pointer;
}
#ui input:not(:last-child) {
  margin-bottom: .5rem;
}
#ui input[type="checkbox"] {
  margin-left: 0;
}
#angle {
  width: 50px;
}
.controlls-container:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(128,128,128,.8);
}
#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}
#buttons a {
  display: block;
  cursor: pointer;
  border: 1px solid rgba(128,128,128,.8);
  border-radius: .5rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#buttons a:not(:last-child) {
  margin-bottom: 1.5rem;
}
#buttons a:hover {
  background-color: rgba(128,128,128,.2);
}
#copyright {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
#copyright a {
  color: inherit;
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: underline;
}